*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size:3vw;
    color:white;
    
}
body{
    height: 100vh;;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(35deg, #6d4c05, #9e1393);
}
.main-container{
    width:80%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    margin:4%; 
    border:2px solid white;
    width:40vw;
    height:40vw;
    box-shadow: inset 50px 50px 50px 50px rgba(241, 224, 209, 0.5);

}
.clock{
    border:10px solid rgb(32, 20, 10);
    width:39vw;
    height:39vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 50px 50px 50px 50px rgba(77, 52, 31, 0.5);
    background: linear-gradient(35deg, #043f1b, #9e1393);
}
.dot{
    position: absolute;
    font-weight: bold;
    transform-origin:center;
    width:5%;
    height:5%;
    border-radius:50%;
    background-color: #fff;;
}
.hands{
    position:absolute;
    background-color: #fff;
    transform-origin: bottom;
}
.hours-hand{
    width:4px;
    height:7.5vw;
    top:30%; 
    
}
.minutes-hand{

    width:4px;
    height:14vw;
    top:12%;
}

.seconds-hand {
    width:2px;
    height:14vw;
    top:12%;  
}
.number{
    position: absolute;
    transform-origin:center;
    font-weight:bold;
}
.one{
    transform: translate(550%,-400%);
}
.two{
    transform: translate(950%,-200%);
}
.three{
    transform: translateX(1100%);
}
.four{
    transform: translate(950%,200%);
}
.five{
    transform: translate(650%,400%);
}
.six{
    transform: translateY(450%);
}
.seven{
    transform: translate(-650%,400%);
}
.eight{
    transform: translate(-950%,200%);
}
.nine{
    transform:translateX(-1100%);
}
.ten{
    transform: translate(-470%,-200%);
}
.eleven{
    transform: translate(-340%,-388%);
}
.tewelve{
    transform: translateY(-450%);
}

/*Media Queries*/
/* @media (max-width:800px)
{
    .clock{
        width:50vw;
        height:50vw;
    }
    .main-container{
        width:51vw;
        height:51vw;
    }
    
} */

